.mt-20 {
  margin-top: var(--text-20)
}

.mt-24 {
  margin-top: var(--text-24)
}

.mt-50 {
  margin-top: var(--text-50)
}

.mt-61 {
  margin-top: var(--text-61)
}

.mt-120 {
  margin-top: var(--text-120)
}

.mb-3 {
  margin-bottom: var(--text-3) !important
}

.mb-5 {
  margin-bottom: var(--text-5) !important
}

.mb-10 {
  margin-bottom: var(--text-10)
}

.mb-15 {
  margin-bottom: var(--text-15)
}

.mb-18 {
  margin-bottom: var(--text-18)
}

.mb-20 {
  margin-bottom: var(--text-20)
}

.mb-24 {
  margin-bottom: var(--text-24)
}

.mb-30 {
  margin-bottom: var(--text-30)
}

.mb-37 {
  margin-bottom: var(--text-37)
}

.mb-38 {
  margin-bottom: var(--text-38)
}

.mb-40 {
  margin-bottom: var(--text-40)
}

.mb-45 {
  margin-bottom: var(--text-45)
}

.mb-48 {
  margin-bottom: var(--text-48)
}

.mb-50 {
  margin-bottom: var(--text-50)
}

.mb-61 {
  margin-bottom: var(--text-61)
}

.mb-64 {
  margin-bottom: var(--text-64)
}

.mb-70 {
  margin-bottom: var(--text-70)
}

.mb-80 {
  margin-bottom: var(--text-80)
}

.mb-98 {
  margin-bottom: var(--text-98)
}

.mb-110 {
  margin-bottom: var(--text-110)
}

.mb-111 {
  margin-bottom: var(--text-111)
}

.pt-50 {
  padding-top: var(--text-50)
}

.pt-100 {
  padding-top: var(--text-100)
}

.pb-20 {
  padding-bottom: var(--text-20)
}

.pb-50 {
  padding-bottom: var(--text-50)
}

.pb-77 {
  padding-bottom: var(--text-77)
}

.pb-80 {
  padding-bottom: var(--text-80)
}

.pb-100 {
  padding-bottom: var(--text-100)
}

.gap-10 {
  gap: var(--text-10)
}

.gap-20 {
  gap: var(--text-20)
}

.gap-25 {
  gap: var(--text-25)
}

.gap-30 {
  gap: var(--text-30)
}

.gap-50 {
  gap: var(--text-50)
}

.row-gap-8 {
  row-gap: var(--text-8)
}

.row-gap-20 {
  row-gap: var(--text-20)
}

.row-gap-30 {
  row-gap: var(--text-30)
}

.row-gap-35 {
  row-gap: var(--text-35)
}

.row-gap-40 {
  row-gap: var(--text-40)
}

.input-field:focus-visible {
  outline: 0
}

.fs-12 {
  font-size: var(--text-12)
}

.fs-14 {
  font-size: var(--text-14)
}

.fs-15 {
  font-size: var(--text-15)
}

.fs-16 {
  font-size: var(--text-16)
}

.fs-18 {
  font-size: var(--text-18)
}

.fs-19 {
  font-size: var(--text-19)
}

.fs-20 {
  font-size: var(--text-20)
}

.fs-22 {
  font-size: var(--text-22)
}

.fs-23 {
  font-size: var(--text-23)
}

.fs-24 {
  font-size: var(--text-24)
}

.fs-26 {
  font-size: var(--text-26)
}

.fs-27 {
  font-size: var(--text-27)
}

.fs-28 {
  font-size: var(--text-28)
}

.fs-30 {
  font-size: var(--text-30)
}

.fs-39 {
  font-size: var(--text-39)
}

.fs-40 {
  font-size: var(--text-40)
}
.fs-44 {
  font-size: var(--text-44)
}

.fs-45 {
  font-size: var(--text-45)
}

.fs-60 {
  font-size: var(--text-60)
}

.fw-400 {
  font-weight: 400
}

.fw-500 {
  font-weight: 500
}

.fw-700 {
  font-weight: 700
}

.fw-800 {
  font-weight: 800
}

.text-secondry-theme {
  color: var(--secondry-theme)
}

.text-black {
  color: var(--black) !important
}

.text-white {
  color: var(--default-color) !important
}

.secondry-font {
  font-family: var(--secondry-font)
}